*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://images6.alphacoders.com/873/873413.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#browser{
    padding: 10px;
    width: 380px;
    margin: 0px 5px ;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgb(0, 255, 140);
    outline: none;
}
#browser:focus{
    outline: none;
    border-color: rgb(0, 255, 221);
}

